.character-list {
width: 800px;
height: 1200px;
margin: 20px auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.character-sheet {
    width: 700px;
    height: 100px;
    background: darkblue;
    border: 5px outset dimgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.char-name-heading {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.info-section {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}

.info-segment {
    width: 33%;
    color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}